@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #030712;
   /* Corresponds to bg-gray-900 */
}
@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slideIn {
  animation: slideIn 0.3s ease-out;
}
